<div class="jumbotron">
    <h1 class="text-center">Projeto</h1>
</div>
<div class="container">

    
    <p *ngIf="mensagem.length" class="alert alert-info">{{ mensagem }}</p>

    <div class="row">
        <div class="col-md-12">
            <form>
                 <div class="input-group">
                    <span class="input-group-btn">
                         
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Novo foto
                        </a>
                    </span>
                    <input class="form-control" #textoProcurado (keyup)="0" placeholder="filtrar pelo título da foto">
                </div> 
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>

    <div class="row">
        <painel #painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}"  class="col-md-2">
            
            <!-- Passar o ID da foto como parâmetro para a URL. Diretiva routerLink realiza uma navagação para outra página -->
            <a [routerLink]="['/cadastro', foto._id]">
            
                <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
            </a>
            
            <!-- Quando clicar no botão, seu evento click será disparado e executará a lógica de confirmação. Se confirmar, através do EventEmitter será disparado o evento acao. Isso fará com que a expressão remove(foto) atribuída ao evento acao seja executada em 'botato.component.ts' -->
            <botao estilo="btn-danger btn-block" nome="Remover" [confirmacao]="false" (acao)="modal.show()"></botao>

            <!-- A expressão 'remove(foto,painel)' será executada pois ao ser clicada irá disparar o evento 'confirma'  -->
            <modal #modal frase="Tem certeza que deseja remover esta foto?" (confirma)="remove(foto, painel)"></modal>


            <!-- A variável 'foto' foi instanciada no *ngFor logo tem-se acesso a todos os atributos do objeto. Temos um event binding do método remove() -->
            <!-- <button class="btn btn-danger btn-block" (click)="remove(foto)">Reomover</button> -->
        </painel>
    </div><!-- fim row -->
</div>